*.exe
*.out
*.o
*.obj
*.dll
*.so
*.dylib
*.a
testdata.json
*.test
*.log
*.tmp
*.cache
*.swp
*.bak
*.old
*.pid
*.pid.lock
*.db
*.sqlite
*.sqlite3
*.tgz
*.tar.gz
*.zip
*.rar
*.7z
*.gz
*.bz2
*.xz
*.tar
*.tgz
*.tar.bz2
*.tar.xz
*.backup
goca
goca.exe
goca.out
goca.test
goca.log
goca.tmp
goca.cache
goca.swp
goca.bak
goca.old
test/*
*.testdata
/test*
test/
test-repository/
test-repository/*
test-repository.go
test-repository_test.go
test-repo/*
temp*/
/temp*
*-test/